body {
    background-image: url(../lesson1/unnamed.jpg);
}

.container {
    text-align: center;
    margin: 180px auto 0 auto;
    width: 95%;
}

h1 {
    font-size: 3rem;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
     -webkit-background-clip: text; 
}

.rectangle {
    width: 200px;
    height: 100px;
    background: red;
    margin: 150px auto 0 auto;
}

p {
    text-align: left;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #62b4cf;
}